/*GENERAL STYLESHEET */ 
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root{
    background-color: var(--main-color);
    background-image: url('IMAGES/backgr.jpg');
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    --main-color: #171717;
    --cyberpunk-yellow :rgb(190, 188, 35);
    --beigecolor:#cdcdcd
}

body{
    margin: 3% !important;
    min-height: 25vw;
    background-color: var(--beigecolor);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


nav{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 4.5%;
}

nav ul img{
  width: 11vw !important;
   height: 50px !important;
}
footer{
    background-color:var(--cyberpunk-yellow) ;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

section{
margin : 0px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
min-height: 10vw;
padding: 0px;
overflow: hidden;
}

section article{
    width: 50%;
    text-align: justify;
}

section article p{
    margin : 4%;
    
}
section article ul{
    margin : 4%;
    
}

b{
    font-size: 0.9vw;
    font-style: italic;
    color: rgb(190, 188, 35);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
i{
    font-family: 'Homemade Apple', cursive;
    font-size: 0.8vw;
}



/** H1 TITLE ANIMATE **/ 

h1 {
    color: #000;
    text-transform: uppercase;
    font-family: 'Syncopate', sans-serif;
    font-style: italic;
    padding: 2vw;
    letter-spacing: 5px;
    
}
   h1:before,  h1:after {
      position: absolute;
      font-size: 4vw;
      content: attr(data-text);
      padding: 2vw;
      top: 0;
      left: 0;
      color: #000;
      overflow: hidden;
      white-space: nowrap;
      letter-spacing: 5px;
    }
    
    
    h1:after {
      left: -3px;
      text-shadow: -5px 2px rgb(40, 160, 140);
      animation: glitch-2 2s ease-in-out reverse infinite;
    }


    @keyframes movin {
      0%{
          width: 100%;
          height: 100%; 
      }
      50%{
          width: 105%;
          height: 105%;
      }
      100%{
          width: 100%;
          height: 100%;
      }
  }

@keyframes glitch-1 {
0% {
  clip: rect(132px, auto, 101px, 30px);
}
5% {
  clip: rect(17px, auto, 94px, 30px);
}
10% {
  clip: rect(40px, auto, 66px, 30px);
}
15% {
  clip: rect(87px, auto, 82px, 30px);
}
20% {
  clip: rect(137px, auto, 61px, 30px);
}
25% {
  clip: rect(34px, auto, 14px, 30px);
}
30% {
  clip: rect(133px, auto, 74px, 30px);
}
35% {
  clip: rect(76px, auto, 107px, 30px);
}
40% {
  clip: rect(59px, auto, 130px, 30px);
}
45% {
  clip: rect(29px, auto, 84px, 30px);
}
50% {
  clip: rect(22px, auto, 67px, 30px);
}
55% {
  clip: rect(67px, auto, 62px, 30px);
}
60% {
  clip: rect(10px, auto, 105px, 30px);
}
65% {
  clip: rect(78px, auto, 115px, 30px);
}
70% {
  clip: rect(105px, auto, 13px, 30px);
}
75% {
  clip: rect(15px, auto, 75px, 30px);
}
80% {
  clip: rect(66px, auto, 39px, 30px);
}
85% {
  clip: rect(133px, auto, 73px, 30px);
}
90% {
  clip: rect(36px, auto, 128px, 30px);
}
95% {
  clip: rect(68px, auto, 103px, 30px);
}
100% {
  clip: rect(14px, auto, 100px, 30px);
}
}

@keyframes glitch-2 {
0% {
  clip: rect(129px, auto, 36px, 30px);
}
5% {
  clip: rect(36px, auto, 4px, 30px);
}
10% {
  clip: rect(85px, auto, 66px, 30px);
}
15% {
  clip: rect(91px, auto, 91px, 30px);
}
20% {
  clip: rect(148px, auto, 138px, 30px);
}
25% {
  clip: rect(38px, auto, 122px, 30px);
}
30% {
  clip: rect(69px, auto, 54px, 30px);
}
35% {
  clip: rect(98px, auto, 71px, 30px);
}
40% {
  clip: rect(146px, auto, 34px, 30px);
}
45% {
  clip: rect(134px, auto, 43px, 30px);
}
50% {
  clip: rect(102px, auto, 80px, 30px);
}
55% {
  clip: rect(119px, auto, 44px, 30px);
}
60% {
  clip: rect(106px, auto, 99px, 30px);
}
65% {
  clip: rect(141px, auto, 74px, 30px);
}
70% {
  clip: rect(20px, auto, 78px, 30px);
}
75% {
  clip: rect(133px, auto, 79px, 30px);
}
80% {
  clip: rect(78px, auto, 52px, 30px);
}
85% {
  clip: rect(35px, auto, 39px, 30px);
}
90% {
  clip: rect(67px, auto, 70px, 30px);
}
95% {
  clip: rect(71px, auto, 103px, 30px);
}
100% {
  clip: rect(83px, auto, 40px, 30px);
}
}

/*GESTION FOOTER */ 

footer{
 position: relative;
}
footer img{
  position: absolute;
  width: 10vw !important;
  right: 0;
  top: 0;
  margin-top: -4vw !important;
  margin-right: -3%;
  transition: none !important;
}

footer{
  font-size: 1vw;
  color: var(--main-color);
  padding: 1%;
}
footer a{
  color: var(--main-color);
}