


.planetban{
    padding-top: -10%;
    width: 100% !important;
    border-radius: 0px 0px 0px 0px !important;
    padding: 0px;
    background-color: var(--cyberpunk-yellow) !important;
    position: relative;
    overflow: visible;
    height: 30vw !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    margin-bottom: 0px !important;
   
}
.ban-fond{
    width: 100% !important;
    object-fit: cover;
    background-color: var(--main-color);
    animation: movin 6s ease-in-out infinite;
    
}
.float-plan{
    margin-left: -5%;
    margin-top: -5.37%;
    width: auto !important;
    height: 35vw !important;
    position: absolute;
}


section:not(.planetban){
    display: flex;
    justify-content: flex-start;
    box-shadow: none !important;
}

.viewitem{
    width: 103% !important;
    padding: 0px;
    overflow: hidden;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    margin-bottom: 3% !important;
    background-color: var(--main-color) !important;
    flex-wrap: wrap;
}
.viewitem img{
    width: 31.05vw;
    height: 20vw;
    object-fit: cover;
    background-color: var(--main-color) !important;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.viewitem img:hover{
   opacity: 0.5;
   transition: opacity 1s ease-in-out;  
}

/* H1 RESIZE */ 

h1 {
    text-transform: uppercase;
    font-family: 'Alatsi', sans-serif !important;
    padding: 2vw;
    font-style: italic !important;
    letter-spacing: 15px !important;
    margin-left: -10%;
    margin-top: 10%;
    
}

.h1smaller:before , .h1smaller:after{
    font-size: 7vw !important ;
}
   h1:before,  h1:after {
      font-size: 8vw !important;
      top: 30% !important;
      left: 20% !important;
      font-weight: 900;
      color: var(--cyberpunk-yellow) !important;
      letter-spacing: 25px;
    }
    
    
    h1:after {
      left: 20% !important;
    }



   

/* Gestion de contenu première section texte */ 

h2{
    position: relative;
    text-transform: uppercase;
    font-family: 'Alatsi', sans-serif !important;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--cyberpunk-yellow);
    color: white;
    font-weight: 900;
    letter-spacing: 15px;

}

/* PARAMETRAGE DE LA SIGNATURE GIF */ 

.signature{
    width: 50%;
    position: relative;
}

.signature img{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -1%;
}
.quotesigna{
    position: absolute;
    color: var(--main-color);
    bottom: 0;
    padding: 2%;
    background-color: var(--cyberpunk-yellow);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 0.6vw !important;
}


@media screen and  (max-width: 1000px ){
    section:not(.planetban){
        display: contents !important;
    }
    article{
        width: 100% !important;
    }
.viewitem{
    width: 100%;
    height: 12vw !important;
    overflow: hidden;
    flex-wrap: nowrap !important;
    
}
    .viewitem img{
    width: 16% !important;
    flex-wrap: nowrap !important;
    }
    .signature img{
        position: inherit;
    }
    .quotesigna{
        height: 15vw;
        font-size: 1.5vw !important;
    }
    h2{
        font-size: 5vw !important;
    }
}