
/** PARAMETRES DE L'INDEX */ 
/* PARAMETRAGE DE LA BANNIERE */ 

#presa{
    display: flex;
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -2% !important;
   
}
#presa article{
    margin-top: 10%;
    position: relative;
    padding: 0px;
    width: 100% ;
    margin: 0px;
}


figure{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

img:not(.character){
    object-fit: center;
    width: 100%;
   height: auto !important;
    transition: all 6s ease-in;
}

figcaption{
    position: absolute;
    bottom: 0%;
    height: 10vw;
    z-index: 1;
    padding: 2%;
    width: 100%;
    text-align: center;
    background-color: var(--cyberpunk-yellow) !important;
    transition: height 1s ease-in;
}


.character{
    height: 30vw;
    z-index: 0;
    margin-top: -35.15vw;
    margin-left: -52%;
    position: sticky;
    
}

figcaption:hover {
    height: 13vw ;
    transition: height 1s ease-in;
}


figure:hover img:not(.character){
    width: 105%;
    height: 105%;
    transition: all 6s ease-in;
}


#presa ~ section article{
   width: 96%;
   
}

#presa ~section {
box-shadow: none !important;
}

#presa span{
    font-family: 'Rubik Mono One', sans-serif;
    position: inherit;
    top:60%;
    left: 5%;

}

  /** ARTICLE PRESENTATION */ 

  h2{
    font-family: 'Smooch', cursive;
    text-align: right;
    padding-top: 4%;
    padding-bottom: 0px;
  }